@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 16px 0;
    
}

h1 {
    padding: 8px;
    color: #2a6fdb;
}

.input {
    display: flex;
    
}

.input input {
    outline: none;
    border: none;
    font-size: 16px;
    padding: 8px;
    min-width: 400px;
    font-weight: 600;
    color: #324d70;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.input button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2a6fdb;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    color: white;
    padding: 5px;
}

.todos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 900px;
    justify-content: center;
    margin: 48px auto 0;
    grid-gap: 24px;
}

.todo {
    display: relative;
    padding: 8px;
    border: 2px solid #2a6fdb;
    border-radius: 12px;
}

.todo h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 14px;
    color: #324d70;
}

.todo p {
    color: #555;
    font-size: 14px;
    margin-bottom: 8px;
}

.todo .completeTask {
    border: none;
    outline: none;
    padding: 6px 10px; 
    color: white;
    font-weight: 600;
    background-color: #29b36b;
    border-radius: 16px;
    cursor: pointer;
}

.todo .deleteBtn {
    border: none;
    outline: none;
    padding: 6px 10px;
    margin-left: 8px;
    color: white;
    font-weight: 600;
    background-color: #db2a7f;
    border-radius: 16px;
    cursor: pointer;
}

.status {
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 16px;

}

.status p:nth-child(4) {
    position: absolute;
    top: -36px;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    color: #777777;
    font-weight: bold;
    border-bottom: 2px solid #777777;
}

/* .status p:nth-child(4)::before {
    content: '';
    position: absolute;
    border: 1px solid gray;
    width: 65px;
    transform: rotate(180deg)
} */

.status section {
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: center;
    color: white;
    border-radius: 16px;

}

.status section:first-child {
    background-color: #29b36b;
} 

.status section:nth-child(2) {
    background-color: #777777;
}

.status section:nth-child(3) {
    background-color: #db2a7f;
}

.status section:not(:first-child) {
    margin-left: 32px;
}

.status section span {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
}
/* .chart-container{
    width: 800px;
    height: 800px;
    position: relative;
    
} */

